@model AddVM
@{
    ViewBag.Title = "Add a movie";
}
<div class="col-5">
    <h1>Add a movie</h1>
    <form asp-action="Add" method="post">
        <div class="mb-3">
            <label asp-for="OriginalTitle" class="form-label"></label>
            <input asp-for="OriginalTitle" class="form-control" />
            <span asp-validation-for="OriginalTitle" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AlternateTitle" class="form-label"></label>
            <input asp-for="AlternateTitle" class="form-control" />
            <span asp-validation-for="AlternateTitle" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Genres" class="form-label"></label>
            <input asp-for="Genres" class="form-control" />
            <span asp-validation-for="Genres" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ReleaseDate" class="form-label"></label>"
            <input asp-for="ReleaseDate" class="form-control" type="date" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Runtime" class="form-label"></label>
            <input asp-for="Runtime" class="form-control" type="number" min="0" />
            <span asp-validation-for="Runtime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PosterUrl" class="form-label"></label>
            <input asp-for="PosterUrl" class="form-control" type="text" />
            <span asp-validation-for="PosterUrl" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add Movie</button>
    </form>
</div>
<!--<div class="col-4">
    <div asp-validation-summary="All" class="text-danger field-validation-error"></div>
</div>-->

<!--
    asp-fallback-test for validator:   $.validator
    asp-fallback-test for unostrusive   $.validator.unobstrusive
-->

@section Scripts {
    <script src="~/JavaScript/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/JavaScript/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}